<div class="row">
  <div class="col-4"> <img src="assets/images/{{ind}}.jpg" alt="" class="img-fluid rounded-circle w-50 mb-3">
    <h3>{{doc.name}}</h3>
    <!--  <h5 class="text-muted">{{searchControl.value}}</h5> -->
    <p>{{doc.description}}
    </p>
  </div>
  <div class="col-6">
    <mat-chip-list aria-label="Fish selection">
      <mat-chip color="success" class="mat-chip-success" selected>10:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>11:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>12:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>1:10</mat-chip>
      <mat-chip color="danger" class="mat-chip-danger" selected>2:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>3:10</mat-chip>
      <mat-chip color="danger" class="mat-chip-danger" selected>4:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>5:10</mat-chip>
      <mat-chip color="success" class="mat-chip-success" selected>6:10</mat-chip>
      <mat-chip color="danger" class="mat-chip-danger" selected>7:10</mat-chip>
    </mat-chip-list>
  </div>
</div>
<br />