.main-div{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .title{
    text-align: center;
  }
.login{
  width:300px;
  margin-left:500px;
}
.signContent{
  margin-top:35px;
}
.signup{
  color:#6468fc;
  cursor: pointer;
}
