/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
h1 {
  font-weight: bold;
  font-size: 36px;
  font-family: "roboto";
  color: #272848;
}
h2 {
  font-weight: medium;
  font-size: 24px;
  font-family: "roboto";
  color: #272848;
}
h3 {
  font-weight: regular;
  font-size: 14px;
  font-family: "roboto";
  color: #272848;
}
.sign-Instyle{
  width: 400px;
}
.signContent{
  margin-top:35px;
}
